PORT=5002
MONGO_URI=mongodb://localhost:27017/finflow
JWT_SECRET=your_jwt_secret_here
TRANSACTION_SERVICE_URL=http://localhost:5003
USER_SERVICE_URL=http://localhost:5001
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password